@import "tailwindcss";

@theme {
  --color-royal-blue: #1e3a8a; /* Trustworthy blue */
  --color-royal-blue-light: #2563eb;
  --color-gold: #eab308; /* Luxury feel */
  --color-gold-light: #facc15;
  
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
